<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jsp_usingDB1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>firstpage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InsertReservation</servlet-name>
    <servlet-class>InsertReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReservation</servlet-name>
    <url-pattern>/InsertReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditReservation</servlet-name>
    <servlet-class>EditReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReservation</servlet-name>
    <url-pattern>/EditReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_ContactUpdate</servlet-name>
    <servlet-class>Admin_ContactUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ContactUpdate</servlet-name>
    <url-pattern>/Admin_ContactUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_DelReservation</servlet-name>
    <servlet-class>Admin_DelReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_DelReservation</servlet-name>
    <url-pattern>/Admin_DelReservation</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>User_DelReservation</servlet-name>
    <servlet-class>User_DelReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_DelReservation</servlet-name>
    <url-pattern>/User_DelReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_updProduct</servlet-name>
    <servlet-class>admin_updProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_updProduct</servlet-name>
    <url-pattern>/admin_updProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retrieve_update</servlet-name>
    <servlet-class>retrieve_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retrieve_update</servlet-name>
    <url-pattern>/retrieve_update</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>admin_update</servlet-name>
    <servlet-class>admin_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_update</servlet-name>
    <url-pattern>/admin_update</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
</web-app>